body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

select.breed-select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  margin: auto;
  width: 300px;
}

.loader,
.error {
  display: none;
  font-size: 18px;
}

.cat-info {
  display: none;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.cat-info img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cat-info h2 {
  font-size: 24px;
  margin: 10px 0;
}

.cat-info p {
  font-size: 18px;
  line-height: 1.6;
}

.error {
  color: red;
  margin-top: 20px;
}
